$header-color: #406ef4;
$header-color-light: #7890da;
$font-main: Verdana, Geneva, Tahoma, sans-serif;
$color-main: rgb(255, 255, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: $font-main;
  font-size: 100%;
}

header {
  display: flex;
  justify-content: flex-start;
  column-gap: 25px;
  background-color: $header-color;

  .logo {
    display: flex;
    justify-content: center;
    max-width: 70px;
    padding: 10px;
    margin-left: 5%;
  }

  .logo img {
    width: 100%;
  }

  .nav-container {
    width: 100%;

    ul {
      display: flex;

      li {
        padding: 25px 20px;

        &:hover {
          background-color: $header-color-light;
        }
      }

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-family: $font-main;
      }
    }
  }
}

main {
  
  .hero {
    position: relative;
    color: $header-color;
    font-family: $font-main;

    width: 100%;
    max-height: 700px;

    h1 {
      position: absolute;
      top: 20%;
      width: 100%;
      text-align: center;
      font-size: 6em;
      font-weight: 300;
      z-index: 2;
    }

    img {
      width: 100%;
      object-fit: cover;
      opacity: .5;
      max-height: 600px;
    }

    p {
      position: absolute;
      bottom: 30%;
      width: 100%;
      text-align: center;
      font-size: 2em;
    }
  }

  .content {
    p {
      font-size: 4em;
      text-align: right;
      width: 100%;
      background-color: rgb(163, 162, 162);
      padding: 1em 0.5em 0.5em 0;
      margin-top: -5px;
    }
  }
}
